.view {
  height: 270vh;
  position: relative;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}
/* .card {
  justify-content: right;
} */
.image {
  height: 20vh;
}
.description {
  float: left;
  width: 800px;
  text-align: left;
}
.inset {
  margin-left: 720;
}
.amenity {
  padding-top: 110px;
  padding-bottom: 20px;
}
.list > li {
  margin: 0 0 15px 0;
}
.box1 {
  float: left;
}
.box2 {
  float: left;
  margin-left: 100px;
}
.box3 {
  float: right;
  margin-left: 20px;
}
.host {
  padding-top: 240px;
}
